* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
}

body {
    background: linear-gradient(20deg, darkblue, white) no-repeat center center
        fixed;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

.title {
    color: white;
    text-shadow: 0 0 60px black, 0 0 40px darkblue;
}

.title:hover {
    text-shadow: 0 0 120px black, 0 0 80px darkblue;
    color: pink;
}

.title__clickable {
    cursor: pointer;
}

.logo {
    pointer-events: 'none';
    z-index: -1;
}

.forwardLink,
.backLink {
    margin-top: 50px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.error {
    color: lightpink;
    text-shadow: 0 0 10px black, 0 0 5px darkblue;
    font-size: 46px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.slide-enter {
    opacity: 0;
    z-index: 1;
    transform: translateX(0);
}

.slide-enter.slide-enter-active {
    opacity: 1;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

.slide-exit {
    opacity: 1;
    transform: translateX(0);
}

.slide-exit.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}
