* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(20deg, darkblue, white);
}

.title {
    text-shadow: 0 0 60px black, 0 0 40px darkblue;
    cursor: pointer;
}

.title:hover {
    text-shadow: 0 0 240px black, 0 0 160px darkblue;
    color: pink;
}
